.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 5%;
}

.card {
  width: 400px;
  height: 300px;
  border: 1px solid black;
  padding: 10px;
  margin: 20px;
}

.btn {
  margin: 20px 100px;
}
