/*----------- Project Details-------------------- */

.projectDetails {
  display: flex;
  align-items: center;
}

.projectDetails > p {
  margin: 30px 40px;
}

.issueBtn {
  height: 50px;
}



/* Filters and Issues Container */
.filtersIssuesContainer{
  display: flex;
  padding: 50px 10px;
  padding-left: 70px;
}



/*------------- Project Issues---------------------- */

.issueContainer {
  height: auto;
  width: 70%;
  padding-left: 50px;
  padding-right: 100px;
}

.issueCard {
  border: 1px solid black;
  height: auto;
  margin-bottom: 30px;
  padding: 10px;
}

.labelContainer {
  display: flex;
}

.label {
  margin: 0 20px;
  background-color: orange;
}

/*----------------- Filters----------------- */

/* Search Filter */

.filtersContainer{
  width: 30%;
  border: 1px solid black;
  padding: 10px 50px;

}


.searchFilterContainer input {
  border: 1px solid black;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 16px;
  padding: 15px;
  height: 30px;
  width: 98%;
}

input:focus {
  outline: none;
}


/* Labels Filter */

.labelFilterContainer{
  padding: 20px 0;
}