/*----------- Project Details-------------------- */

.projectDetails {
  display: flex;
  align-items: center;
}

.projectDetails > p {
  margin: 30px 40px;
}

.issueBtn {
  height: 50px;
}

/*------------- Project Issues---------------------- */

.issueContainer {
  height: auto;
  padding: 0px 20%;
}

.issueCard {
  border: 1px solid black;
  height: 150px;
  margin-bottom: 30px;
}

.labelContainer {
  display: flex;
}

.label {
  margin: 0 20px;
  background-color: orange;
}

/*----------------- Filters----------------- */

/* Search Filter */

.filtersContainer{
  display: flex;
  justify-content: center;
}


.searchInputs {
  margin: 20px auto;
  display: flex;
}

.search input {
  border: 1px solid black;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 300px;
}

input:focus {
  outline: none;
}
